{% extends 'base.html.twig' %}

{% block title %}Hello StageFormationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {# {{ dump(stageFormation) }} #}
   
    <div class="lead">Stage et formation</div>

    <div class="row mt-5">
        

        {% for formation in formations %}
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                   
                    <a href="{{ path('formation', { id: formation.id}) }}">
                        <img src="{{ asset(formation.imagePath) }}" class="card-img-top w-100" alt="...">
                    </a>       
                    <div class="card-body">
                        <h5 class="card-title">titre {{ formation.title }}</h5>
                        <p class="card-text">{{ formation.contentellipsis() }}</p>
                        <p>Nombre de place disponible: </p>
                        <a href="{{ path('formation', { id: formation.id}) }}">
                            <button type="button" class="btn btn-primary">voir detail</button>
                        </a>
                        <button type="button" class="btn btn-primary">prix</button>

                        <a href="{{ path('admin_update', { id: formation.id}) }}">
                            <button type="button" class="btn btn-primary">Modifier</button>
                        </a>
                        <a href="{{ path('admin_remove', { id: formation.id}) }}">
                            <button type="button" class="btn btn-primary">Suprimer</button>
                        </a>
                    </div>

                </div>

            </div>
        {% endfor %}
    </div>


    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(formations) }}
    </div>

</div>
{% endblock %}
