{% extends "base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

 <main class="main">
            <!-- promo start-->
            <section class="promo-primary">
                <picture>
                    <source srcset="images/imagesite/whereareyou.jpg" media="(min-width: 992px)" /><img class="img--bg" src="images/imagesite/whereareyou.jpg" alt="img" />
                </picture>
                <div class="container">
                    <div class="row">
                        <div class="col-auto">
                            <div class="align-container">
                                <div class="align-container__item"><span class="promo-primary__pre-title"></span>
                                    <h1 class="promo-primary__title"><span>Notre</span> <span>Blog autonome</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- promo end-->
            <!-- blog start-->
            <section class="section blog">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-xl-9">
                            <div class="row">
                               
                                <div class="col-12">
                                    
                                   <div class="blog-post__img"><img class="img--bg" src="{{ asset(article.imagePath) }}" alt="blog" /></div>

                                           <div class="blog-item__date">Publié le {{ article.createdAt|date('d/m/Y') }} par {{ article.author }}</div>
                                           
                                </div>
                                        
                                        <h3 class="blog-item__title"><a href="#">{{ article.title }}</a></h3>

                                        <div class="my-4">{{ article.content|nl2br }}</div>
                                                                    
                                                                            
                                        <hr>

                                <div class="text-center">

                                    <h3 class="comments">Commentaires ({{ article.comments.count }})</h3>
                                    
                                </div>

                                {% for comment in article.comments %}
                                    <div class="my-3">
                                        <b>Publié le {{ comment.createdAt|date('d/m/Y') }} par {{ comment.pseudo }}</b>
                                        <div>{{ comment.message|nl2br }}</div>
                                    </div>
                                    <hr>
                                {% endfor %}

                                 <div class="lead">Laissez votre commentaire</div>

                                        {{ form_start(form) }}

                                        
                                        <div class="mt-3">
                                            {{ form_row(form.pseudo) }}
                                        </div>
                                        <div class="mt-3">
                                            {{ form_row(form.message) }}
                                        </div>

                                        <div class="mt-3">
                                            {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-warning'} }) }}
                                        </div>
                                                
                                        {{ form_end(form) }}       

                                                    
                                
                       
            </section>
            <!-- blog end-->
            </main>


        
        
{% endblock %}