{% extends "base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<main class="main">
 <!-- blog post start-->
        <section class="section blog-post">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="blog-post__top">
                            <div class="blog-post__img"><img class="img--bg" src="{{ asset(article.imagePath) }}" alt="img" /></div>
                            <div class="blog-post__description">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <div class="blog-post__author"><span class="blog-post__author-img"><img class="img--bg" src="img/id3.jpg" alt="author"/></span><span class="blog-post__author-name">{{ article.author }}</span></div>
                                    </div>
                                    <div class="col-6 text-right"><span class="blog-post__date">{{ article.createdAt|date('d/m/Y') }}</span></div>
                                </div>
                            </div>
                        </div>
                        <h5>{{ article.title }}</h5>
                        <p>{{ article.content|nl2br }}</p>

                        <div class="blog-post__details">
                            <div class="row align-items-center">
                                <div class="col-md-4 text-center text-md-left">

                                </div>
                                <div class="col-md-4 text-center d-flex align-items-center justify-content-center">
                                    <div class="blog-post__comments-count">
                                        <svg class="icon">
													<use xlink:href="#comment"></use>
												</svg><span>LES COMMENTAIRES:</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <h6 class="comments__trigger">{{ article.comments.count }} commentaires:</h6>
                        <div class="comments">
                            {% for comment in article.comments %}
                                <div class="comments__item">
                                    <div class="comments__item-description">
                                        <div class="row align-items-center">
                                            <div class="col-12 col-sm-4 col-md-3"><span class="comments__item-name">{{ comment.pseudo }}</span></div>
                                            <div class="col-10 col-md-7"><span class="comments__item-date">{{ comment.createdAt|date('d/m/Y') }}</span></div>
                                            <div class="col-2 text-right"><span class="comments__item-action">
                                                        <svg class="icon">
                                                            <use xlink:href="#previous"></use>
                                                        </svg></span></div>
                                            <div class="col-12">
                                                <div class="comments__item-text">
                                                    <p>{{ comment.message|nl2br }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                                
                        </div>

                        <h6 class="blog-post__title bottom-30">Commenter</h6>
                                {{ form_start(form) }} 
                                <div class="row"> 
                                    <div class="col-12">
                                        {{ form_row(form.message,{ 'label':false, 'attr': {'class': 'form__field form__message', 'placeholder': 'Text'} }) }}
                                    </div>

                                    <div class="col-md-6">
                                        {{ form_row(form.pseudo,{ 'label':false ,'attr': {'class': 'form__field','placeholder': 'Pseudo'} }) }}
                                    </div>
                                   

                                    <div class="col-12">
                                        {{ form_widget(form.submit, { 'attr': {'class': 'form__submit'} }) }}
                                    </div>
                                </div>      
                                {{ form_end(form) }}  
       
                    </div>
                </div>
            </div>
        </section>
        <!-- blog post end-->
</main>     
{% endblock %}