{% extends 'base.html.twig' %}

{% block title %}Blog de l'association{% endblock %}

{% block body %}

<div class="text-center">
<h1>Welcome sur le blog de notre association</h1>
<div class="lead">Découvrez les secrets de la nature</div>
</div>

    {# <section class="articles">
    {% for article in articles %}
     <div class="container">
            <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | ('d/m/Y')}} </div>
        <div class="content">
        <img src="{{ article.image }}" alt="">
        {{ article.content |raw}}
        <a href="{{ path('blog_article') }}" class="btn btn-secondary mb-2">Lire la suite</a>
        </div>
     </div>
        
    {% endfor %}

    </section> #}



<div class="row mt-5">
{% for article in articles %}
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <a href="{{ path('blog_article', {id: article.id}) }}">
                        <div class="img-ratio" style="--ratio: 60%;">
                            <div class="img">
                                <img src="{{ asset(article.image) }}" class="card-img-top w-100" alt="...">
                            </div>
                        </div>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.content }}</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    </div>

<footer>
    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</footer>



{% endblock %}
